aside {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 280px;
  color: #fff;
  background-color: var(--dark);
  border-right: 1px solid var(--blue-gray);

  .switcher {
    position: relative;
    display: block;
    flex-shrink: 0;
    flex-basis: 54px;
    cursor: pointer;
    background-color: var(--dark);
    border-bottom: 1px solid var(--dark_light);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 10;

    &:hover {
      .switcher__legend {
        .switcher__legend_caret {
          opacity: 0.9;
        }
      }
    }

    .switcher__legend {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 15px;

      .switcher__legend_caret {
        display: block;
        position: absolute;
        top: 50%;
        right: 9px;
        margin-top: -8px;
        width: 9px;
        height: 9px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        transition: transform 0.2s;
        opacity: 0.6;
      }
    }

    &.switcher--expanded {
      .switcher__menu {
        display: block;
      }

      .switcher__legend {
        .switcher__legend_caret {
          margin-top: 0;
          border-right: none;
          border-bottom: none;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
        }
      }
    }

    &.switcher--not-clickable {
      border-bottom: none;
      cursor: default;
      .switcher__legend_caret {
        display: none;
      }
    }

    .switcher__menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 999;

      ul {
        li {
          background-color: var(--editor_dark);
          padding: 12px 0 12px 15px;
          &:hover {
            background-color: var(--magenta_light-1);
          }
          &.active {
            background-color: var(--magenta_light);
          }
        }
      }
    }
  }
}
