.btn {
  background: none;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  color: #fff;
  font-size: 15px;
}

.btn-primary {
  background-color: var(--blue_light);
  &:hover {
    background-color: var(--blue_light-1);
  }
  &[disabled] {
    background-color: var(--dark);
    opacity: 0.4;
    cursor: default;
  }
}

.btn-default {
  background-color: #fff;
  border: 1px solid var(--blue-gray);
  color: var(--dark);
  &:hover {
    background-color: var(--blue-gray_light);
  }
  &[disabled] {
    background-color: var(--dark);
    opacity: 0.4;
    cursor: default;
  }
}

.btn-danger {
  background-color: var(--editor_red);
  &:hover {
    background-color: var(--editor_red_light);
  }
  &[disabled] {
    background-color: var(--dark);
    opacity: 0.4;
    cursor: default;
  }
}

.btn-sm {
  width: 85px;
  height: 20px;
  font-size: 12px;
}

.btn-md {
  width: 85px;
  height: 24px;
  font-size: 12px;
}

.btn-transparency {
  color: var(--yellow_light);
}

.btn-processing {
  display: flex;
  justify-content: center;
  align-items: center;
  .processing-indicator-1 {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 6px;
    animation: blink 0.6s linear 0s infinite;
  }

  .processing-indicator-2 {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 4px;
    animation: blink 0.6s linear 0.1s infinite;
  }

  .processing-indicator-3 {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 4px;
    animation: blink 0.6s linear 0.2s infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}