@for $i from 1 through 10 {
  @each $n, $name in ('m': 'margin', 'p':'padding') {
    @each $t, $type in ('t': 'top', 'r': 'right', 'b': 'bottom', 'l': 'left') {
      .#{$n}-#{$t}-#{$i*5} {
        #{$name}-#{$type}: #{$i*5}px;
      }
      .#{$n}-#{$t}-#{$i*5}i {
        #{$name}-#{$type}: #{$i*5}px !important;
      }
      @if $name == 'margin' {
        .-#{$n}-#{$t}-#{$i*5} {
          #{$name}-#{$type}: -#{$i*5}px;
        }
      }
    }
    .#{$n}-x-#{$i*5} {
      #{$name}-left: #{$i*5}px;
      #{$name}-right: #{$i*5}px;
    }
    .#{$n}-y-#{$i*5} {
      #{$name}-top: #{$i*5}px;
      #{$name}-bottom: #{$i*5}px;
    }
  }
}

.g-row {display: flex; flex-direction: row}
.g-row-reverse{display: flex; flex-direction: row-reverse}
.g-column {display: flex; flex-direction: column}
.flex-start {display: flex; justify-content: flex-start}
.flex-end {display: flex; justify-content: flex-end}
.flex-center {display: flex; justify-content: center}
.flex-around {display: flex; justify-content: space-around}
.flex-between {display: flex; justify-content: space-between}
.items-start {display: flex; align-items: flex-start}
.items-center {display: flex; align-items: center}
.items-end {display: flex; align-items: flex-end}
.items-stretch {display: flex; align-items: stretch}
.flex-wrap {display: flex; flex-wrap: wrap}
.basis-100 {flex-basis: 100%}
.shrink-0 {flex-shrink: 0}

.w-full {width: 100%}
.h-full {height: 100%}

.flex-start,
.flex-end,
.flex-center,
.flex-around,
.flex-between,
.items-start,
.items-center,
.items-end,
.items-stretch {
  & > .row {
    min-width: 100%
  }
}

@each $elem in (
  'dark', 'blue', 'red', 'grey', 'white'
) {
  .#{$elem}--text {
    color: var(--#{$elem});
  }
  .#{$elem}--bg {
    background: var(--#{$elem});
  }
}

@keyframes loading {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 100%;
  }
}

a[href] {
  color: var(--blue);
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

// scrollbar styling

body {
  @each $elem in (
    '.notepad_cont', '.editor-preview', '.editor_content',
    '.CodeMirror-scroll', '.events__calendar',
    'textarea', '.links_area', '.todo_cont'
  ) {
    #{$elem}::-webkit-scrollbar-button {
      background-image: none;
      background-repeat: no-repeat !important;
      width: 10px !important;
      height: 0px !important;
    }
    #{$elem}::-webkit-scrollbar-track {
      background-color:#eee !important;
    }
    #{$elem}::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px !important;
      border-radius: 0px !important;
      background-color: var(--blue_light) !important;
      cursor: default;
    }
    #{$elem}::-webkit-scrollbar-thumb:hover {
      background-color: var(--blue_light) !important;
      cursor: default;
    }
    #{$elem}::-webkit-resizer {
      background-image: none;
      background-repeat: no-repeat !important;
      width: 10px !important;
      height: 0px !important;
    }
    #{$elem}::-webkit-scrollbar {
      width: 10px !important;
    }
  }
}

// projects|markdown scrollbar styling

@each $elem in ('projects_inner', 'library_inner',
  'projects_editor_inner', 'projects_archives_inner',
  'preferences_form', 'scroller'
) {
  .#{$elem}::-webkit-scrollbar-button {
    background-image: none;
    background-repeat: no-repeat;
    width:6px;
    height:0px
  }
  .#{$elem}::-webkit-scrollbar-track {
    background-color: var(--blue-gray_light);
  }
  .#{$elem}::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: var(--dark_lighten-1);
  }
  .#{$elem}::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark_lighten-1);
    border: 1px solid #eee;
  }
  .#{$elem}::-webkit-resizer {
    background-image: none;
    background-repeat: no-repeat;
    width:6px;
    height:0px;
  }
  .#{$elem}::-webkit-scrollbar {
    width: 6px;
  }
}