.ace_scrollbar.ace_scrollbar-v {
  display: none !important;
}
.ace_scrollbar.ace_scrollbar-h {
  display: none !important;
}
.ace_print-margin {
  display: none !important;
}
.ace-twilight {
  background: var(--editor_dark);

  .ace_gutter {
    background: var(--editor_dark);
  }
}

.ace_editor {
  font-size: 11px !important;
}