.form-group {
  display: flex;
  margin-bottom: 15px;
  width: 100%;

  .form-group-inner {
    position: relative;
    flex-basis: 100%;
    flex-grow: 1;

    .col {
      width: 50%;
    }

    label {
      display: block;
      color: var(--blue);
      font-size: 13px;
      line-height: 30px;
      transition: all 0.3s;
      white-space: nowrap;

      &.error {
        color: var(--red);
      }
    }
  }
}

.form-label-error {
  color: var(--red);
  font-size: 12px;
}

.form-auth {
  width: 250px;

  & > div {
    position: relative;
  }

  .form-group {
    display: block;
  }

  input {
    position: relative;
    letter-spacing: 1px;
    z-index: 10;
  }

  button {
    width: 100%;
  }

  label {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    height: 100%;
    z-index: 1;

    &.active {
      right: 105%;
    }
  }
}

input[type=text],
input[type=password] {
  border: 1px solid var(--blue-gray);
  height: var(--input-height);
  font-size: 14px;
  width: 100%;
  padding: 0 6px;

  &.error {
    border: 1px solid var(--red);
  }

  &[readonly] {
    color: var(--blue-gray);
  }
}

input[type=text]:not([readonly]):focus,
input[type=password]:not([readonly]):focus {
  border-color: var(--blue_light);
}

input[type="file"] {
  display: none;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 6px;
  font-family: var(--font-gotham);
  font-size: 12px;
  color: rgb(0,0,0);
  line-height: 19px;
  border: 1px solid var(--blue-gray);
  resize: none;
  overflow: auto;

  &:focus {
    outline: none;
    border: 1px solid var(--blue_light);
  }
}

select {
  border: 1px solid var(--blue-gray);
  height: var(--input-height);
  font-size: 14px;
  width: 100%;
  padding: 0 6px;

  &:focus {
    outline: none;
    border: 1px solid var(--blue_light);
  }
}

.code-fields {
  display: flex;
  justify-content: space-around;
  input {
    width: 35px;
    height: 56px;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
  }
}


