.loader {
  width: 30px;
  height: 30px;
  &.full {
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 50%;
      margin-left: -15px;
    }
  }
  &.small {
    width: 18px;
    height: 18px;
  }

  svg {
    animation: spin 0.8s linear 0s infinite;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}