.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup-window {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--blue-gray);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}

.popup-title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 30px;
  flex-shrink: 0;
  width: 100%;
  background-color: var(--black);
  color: #fff;
  font-size: 1rem;
}

.popup-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 30px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 15px;
    height: 1px;
    background-color: var(--blue-gray);
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #e60702;

    &:before,
    &:after {
      background-color: #fff;
    }
  }
}

.popup-inner {
  flex-basis: 100%;
  padding: 8px;
}

.popup-actions {
  flex-shrink: 0;
  padding: 8px 4px 8px 4px;
  button {
    margin: 0px 4px 0px 4px;
  }
}

.popup-about {
  img {
    max-width: 80px;
  }
}
