.b-splitter {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &-left,
  &-right {
    position: relative;
    flex-basis: 50%;
    overflow: hidden;
  }
}
.b-separator {
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--dark_darken-2);
  border-left: 1px solid var(--blue-gray);
  border-right: 1px solid var(--blue-gray);
  z-index: 999;
  cursor: e-resize;

  & > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
  }
}