.title-bar {
  -webkit-app-region: drag;
  position: relative;
  margin: 0;
  display: flex;
  flex-grow: 0;
  flex-basis: 30px;
  background-color: var(--black);
  width: 100%;
  height: 30px;
  min-height: 30px;
  color: #fff;
  font-family: var(--font-regular);
}

.menu-button-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  z-index: 10;

  button {
    -webkit-app-region: no-drag;
    background-color: transparent;
    height: 100%;
    color: var(--blue-gray_light);
    border: 1px solid transparent;
    font-size: 12px;

    &:hover {
      border: 1px solid var(--blue-gray);
    }
  }

  &.button--reload {
    left: 82px;
  }
  &.button--about {
    left: 137px;
  }
  &.button--logout {
    left: unset;
    right: 200px;

    & svg {
      -webkit-app-region: no-drag;
      margin-right: 100px;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
  &.process {
    -webkit-app-region: no-drag;
    width: 300px;
    left: unset;
    right: 14vw;

    span {
      font-size: 11.5px;
    }
  }
}

.app-name-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 13px;
  z-index: 1;

  .titlebar-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    img {
      object-fit: contain;
    }
  }
}

.window-controls-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 100%;
  z-index: 10;
}

.minimize-button {
  -webkit-app-region: no-drag;
  position: relative;
  background-color: var(--black);
  width: 45px;
  height: 100%;
  cursor: default;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 17px;
    width: 11px;
    height: 1px;
    background-color: var(--blue-gray);
  }

  &:hover {
    background-color: var(--black_light);
  }
}

.min-max-button {
  -webkit-app-region: no-drag;
  position: relative;
  background-color: var(--black);
  width: 45px;
  height: 100%;
  cursor: default;

  &:not(.is-maximized) {
    &:before {
      display: none;
    }
    &:after {
      top: 9px;
      left: 17px;
      width: 11px;
      height: 11px;
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 18px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--blue-gray);
    transition:.3s;
  }

  &:after {
    background-color: var(--black);
    top: 11px;
    left: 15px;
  }

  &:hover {
    background-color: var(--black_light);

    &:after {
      background-color: var(--black_light);
    }
  }
}
