.toasted-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  padding-top: 12px;
  z-index: 999;
}

.toasted-item {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--font-regular);
  border-radius: 8px;
  color: #fff;
  padding: 12px 37px 12px 12px;
  margin-bottom: 8px;
  max-width: 100%;

  &--success {
    background: var(--editor_green);
  }

  &--error {
    background: var(--editor_red);
  }
}

.toasted-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: var(--editor_red);
  border: none;
  border-radius: 10px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 2px;
    width: 15px;
    height: 1px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before,
    &:after {
      background-color: #fff;
    }
  }
}