@use './variables';
@use './normalize';
@use './fonts';
@use './common';
@use './forms';
@use './titlebar';
@use './aside';
@use './popup';
@use './toasted';
@use './loader';
@use './bcheckbox';
@use './bbtn';
@use './btabs';
@use './editor';
@use './splitter';

html {
  font-family: var(--font-regular);
}

#app, #content {
  height: 100%;
}

#app {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.non-selectable {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

mark {
  background-color: transparent;
}

main {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;

  section {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;

    & > div {
      width: 100%;
    }
  }
}

#loading_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -8px;
  width: 150px;
  height: 15px;
}

.loading {
  width: 150px;
  height: 15px;
  background-color: var(--blue);

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation-name: loading;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
}

.close-button {
  -webkit-app-region: no-drag;
  position: relative;
  background-color: var(--black);
  width: 45px;
  height: 100%;
  cursor: default;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 14px;
    width: 15px;
    height: 1px;
    background-color: var(--blue-gray);
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &.remove-button {
    background-color: var(--white);
    &:hover {
      &:before,
      &:after {
        background-color:var(--editor_red);
      }
    }
  }

  &:not(.remove-button) {
    &:hover {
      background-color: var(--red_light);

      &:before,
      &:after {
        background-color:var(--white);
      }
    }
  }
}

.empty_cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);


  .title {
    margin-bottom: 30px;
    text-align: center;
  }

  .signup {
    cursor: pointer;
    color: var(--blue);

    &:hover {
      color: var(--blue_light);
    }
  }
}

.yd_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--grey);

  &_title {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &.form-auth {
      width: 300px;
    }
  }
}

.preferences {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-basis: 54px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 15px;
  }

  form {
    flex-basis: 100%;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;

    & > div {
      max-width: 50%;
    }

    input {
      letter-spacing: 1px;
    }
  }

  .btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    flex-basis: 65px;
    flex-grow: 0;
    border-top: 1px solid var(--blue-gray);
  }
}

.account {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-basis: 54px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 15px;
  }

  .account-content {
    max-width: 50%;
    flex-basis: 100%;
    padding: 15px;
  }

  .content-row {
    display: grid;
    grid-template-columns: 50% 50%;

    & > label {
      display: block;
      color: var(--blue);
      font-size: 13px;
      line-height: 30px;
    }

    & > span {
      display: flex;
      justify-content: flex-end;
      color: var(--black_light);
      font-size: 13px;
      line-height: 30px;
    }
  }

  .account-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    flex-basis: 65px;
    flex-grow: 0;
    border-top: 1px solid var(--blue-gray);
  }
}

.error_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  z-index: 9999;
  background: rgba(255,255,255,0.7);

  .error_cont_inner {
    position: relative;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(#333, 0.5);
    padding: 0 30px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      right: 13px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 2px solid #fff;
      border-top: 2px solid transparent;
      animation: rotate 1s linear 0s infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.drop-area {
  position: relative;
}

#upload-download-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.2);
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue_light);
    font-size: 11px;
    margin-bottom: 5px;
  }

  .progress {
    position: relative;
    width: 33%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--blue);
  }
}

.button {
  cursor: pointer;

  &:active {
    opacity: 0.8;
    transform: translate(0px, 1px);
  }
}
